:root{
    --dark-mode: #333333;
    --darker: #222222;
    --verde: #72ba36;
    --rojo: #950006;
    --morado: #983bc8;
}

/* Globales */

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

@font-face {
    font-family: October-Crow;
    src: url("../fonts/October-Crow.ttf");
}

@font-face {
    font-family: Yahfie;
    src: url("../fonts/Yahfie-Normal.ttf");
}

@font-face {
    font-family: Yahfie-Heavy;
    src: url("../fonts/Yahfie-Heavy.ttf");
}

*,*:before,*:after{
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    background-color: var(--dark-mode);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
    color: white;
    user-select: none;
    margin: 0;
    width: 100%;
    padding: 0 7rem;
}

.contenedor {
    margin: 0 0;
    width: 100%;
    font-family: 'Special Elite', cursive;
}

li {
    list-style: none;
}

h1,h2,h3 {
    margin: 3rem;
    text-align: center;
    font-family: October-Crow;
}

h1 {
    font-size: 3rem;
    margin-bottom: -3rem;
}

h2 {
    font-size: 2.5rem;
    font-family: Yahfie;
}

h3 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: teal;
}

/* Utilidades */
.caja__check {
    background-color: var(--verde);
}

.botones:hover {
    cursor: pointer;
}

/* Body */
.cajas{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    width: 100%;
    height: 100%;
    padding: 3rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.caja{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.1rem solid;
    margin: 1rem 0;
    border-radius: 1rem;
    padding: 2rem;
}

.reiniciar-caja {
    justify-content: center;
    cursor: pointer;
    padding: 3rem;
    text-align: center;
    font-family: 'Special Elite', regular;
}

.icon path{
    pointer-events: none;
}

/* Fantasmas */
.fantasmas h2 {
    margin-top: 0rem; 
}

.fantasmas__posibles{
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.fantasma__nombre{
    display: block;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 3rem;
    padding: 3rem 0;
    font-family: Yahfie;
}

.caja-fantasma{
    background-color: var(--darker);
    border-radius: 1rem;
}

.fantasma__pruebas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2rem;
    justify-items: center;
    padding: 0 2rem;
    padding-bottom: 1.5rem;
    font-family: yahfie-heavy;
}

.fantasma__pruebas--mimico {
    grid-template-columns: repeat(4,1fr);
}

.fantasma__prueba {
    justify-content:space-between;
    background-color: var(--morado);
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 0.5rem;
    padding: 1rem 0;
}

.fantasma__habilidades{
    padding: 0.1rem 2rem;
    display: block;
    margin-top: 1rem;
    line-height: 2.5rem;
}

.fantasma__habilidades:last-of-type {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.fantasma__habilidades span {
    padding: 1rem;
}

.caja__check {
    background-color: var(--verde);
}

.footer {
    margin-top: 4rem;
}

.footer svg {
    height: 2rem;
    margin-bottom: -0.5rem;
}

/* Version Movil */
    
@media (max-width: 768px) {

    h1 {
        margin-left: 1rem;
    }

    body {
        padding: 0;
    }

    .cajas{
        display: block;
    }

    .fantasmas__posibles{
        padding: 0rem 2rem;
        display: block;
    }

    .fantasma__habilidades:last-of-type {
        padding-bottom: 2rem;
    }
}

.ocultar {
    display: none;
}
